#map-container {
  padding: 10px;
  margin: 0 auto;
  width: 95%;
  height: 60vh;
}
#map {
  width: 100%;
}
#marker-popup {
  text-align: center;
}
#menu {
  display: inline-block;
  background-color: rgb(72, 72, 72);
  width: 30vh;
  color: aliceblue;
}
